.loadingSpinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.Ladder {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 100%;
	gap: 10px;
}

.Ladder > div > .User {
	display: flex;
	height: 70px;
	min-width: 170px;
	padding: 5px 10px;
	align-items: center;
	align-self: stretch;
	border-radius: var(--radius-radius-rounded, 8px);
	border: 1px solid var(--border-border-outside, #000);
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.Ladder > div > .User:hover {
	display: flex;
	min-width: 170px;
	padding: 5px 10px;
	align-items: center;
	align-self: stretch;
	border-radius: var(--radius-radius-rounded, 8px);
	border: 1px solid var(--border-border-outside, #000);
	cursor: pointer;
}

.Ladder > div > .SelfUser {
	transition: all 1s ease-in-out;
	background: var(
		--Ladder-Gradient,
		linear-gradient(
			180deg, 
			rgba(255, 255, 255, 0.00) 67.04%, 
	    	rgba(240, 127, 189, 0.20) 86.54%
		),
		linear-gradient(210deg, #FFCAE7 8.97%, #FFF 40.55%, #FFF 49.55%,   #2BDEC9 76.04%)
	); 
}

.Ladder > div > .OtherUser {
	transition: all 1s ease-in-out;
	background: var(
		--Ladder-Gradient,
		linear-gradient(
			180deg, 
			rgba(255, 255, 255, 0.00) 67.04%, 
	    	rgba(240, 127, 189, 0.20) 86.54%
		), 
	linear-gradient(210deg, #2BDEC9 8.97%, #FFF 40.55%, #FFF 49.55%, #FFCAE7 76.04%)
	);
}

.Ladder > div > .OtherUser:hover {
	background:
		linear-gradient(210deg, #FFCAE7 8.97%, #FFF 40.55%, #FFF 49.55%,   #2BDEC9 76.04%); 
}

.Ladder > div > .User > .Rank {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Ladder > div > .User > .Rank > div {
	min-width: 50px;

	/* Heading/700 */
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 36px; /* 100% */
}

.Ladder > div > .SelfUser > .Rank > div {
	background: var(--Turquoise-Gradient-Match, linear-gradient(120deg, #09E1C7 46.53%, #3071D2 79.49%));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 0.35px #000;
	-webkit-text-stroke: 0.35px #000;
}

.Ladder > div > .OtherUser > .Rank > div {
	background: var(--Turquoise-Gradient-Match, linear-gradient(120deg, #09E1C7 46.53%, #3071D2 79.49%));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 0.35px #000;
}

.Ladder > div > .User > .Avatar {
	display: flex;
	width: 84px;
	height: 68px;
	padding: 10px;
	flex-direction: column;
	align-items: flex-start;
}

.Ladder > div > .User > .Avatar > .Frame {
	width: 55px;
	height: 55px;
	flex-shrink: 0;
	border-radius: var(--radius-radius-rounded, 8px);
	border: 7px solid var(--colors-grey-white, #fff);
	background: var(--colors-grey-grey-400, #888);
}

.Ladder > div > .User > .PlayerName {
	display: flex;
	padding: 0px 1px;
	align-items: center;
	gap: 5px;
	flex: 1 0 0;
}

.Ladder > div > .User > .PlayerName > div {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	flex: 1 0 0;
	overflow: hidden;
	color: var(--text-text-primary, #000);
	text-overflow: ellipsis;

	font-family: Chakra Petch;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
}

.Ladder > div > .User > .Stat {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3px;
}

.Ladder > div > .User > .Stat > div {
	color: var(--text-text-primary, #000);
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.Ladder > .Footer {
	width: 100%;
}
