#Navbar {
  min-height: 55px;
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
  align-self: stretch;
  border-bottom: 1px solid var(--base-black, #000);
  background: linear-gradient(180deg, #6d559c 66.15%, #4c3778 86.98%);
  align-items: center;
}

#Navbar > div {
  display: flex;
  align-items: center;
  flex-direction:row;
  gap: 15px ;
  min-width: 470px;
}

.DecoButton {
  width: 39px;
  height: 39px;
  cursor: pointer;
  padding: 0;
  background: var(--Pink-Gradient-400, linear-gradient(180deg, #F06E8D 75%, #E9436B 92.19%));
  border-radius: 10px;
  border: solid var(--base-white, #fff);
  border-width: 3px 2px 0;
  outline: 4px solid var(--base-black, #000);
  display: flex;
  justify-content: center;
  align-items: center; 
  position: absolute;
  right: 20px
}

.DecoButton:hover {
  background: var(--Pink-Gradient-400, #F06E8D);
  border-color: var(--Pink-Gradient-400, #F06E8D);
}

@media screen and (max-width: 570px) {
  .NavButton {
    font-size: 0.9em !important;
  }
}

.NavButton {
  cursor: pointer;
  padding: 0em 0.3em;
  /* Style */
  background: var(
    --PinkPurpleMix-Gradient-Main,
    linear-gradient(180deg, #ece5f8 66.15%, #ebb9f8 86.98%)
  );
  border-radius: 0.4em;
  border: solid var(--base-white, #fff);
  border-width: 0.2em 0.1em 0;
  outline: 0.2em solid var(--base-black, #000);
  display:flex;
  align-items: center;
  justify-content: center;
  /* Font */
  font-family: Chakra Petch;
  font-size: 1.5em;
  font-weight: 700;
}

.NavButton:hover {
	background: var(--PinkPurpleMix-Main, #ede6f9);
	border-color: var(--PinkPurpleMix-Main, #ede6f9);
}
