.homePage {
	justify-content: center;
	align-items: center;
	height: 100%;

}
.home-menu {
	display: flex;
	justify-content: center;
  flex-direction: column;
	align-items: center;
	height: 100%;
}

.mainButton {
  background-color: #ffffff;
  border-radius: 14px;
  box-shadow: 0px 4px 4px #00000040;
	margin: 2%;
	border-radius: 14px;
	font-size: 3.2em;
	width: 1000px;
  height: 10%;
}
