.loadingSpinner {
	animation: spin 1s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.Profile {
	display: flex;
	min-height: 100px;
	padding: 5px;
	flex-direction: column;
	align-items: flex-start;
	gap: 3px;
	flex: 1 0 0;
	align-self: stretch;
	border-radius: 0px 0px 13px 13px;
	background: var(--Purple-100, #f5f1fc);
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.Profile > .Header {
	display: flex;
	padding: 5px;
	align-items: center;
	align-content: center;
	gap: 10px;
	align-self: stretch;
	flex-wrap: wrap;
}

.Profile > .Header > .Avatar {
	display: flex;
	padding: 10px;
	flex-direction: column;
	align-items: flex-start;
}

.Profile > .Header > .Avatar > .Frame {
	width: 64px;
	height: 64px;
	border-radius: var(--radius-radius-rounded, 8px);
	border: 7px solid var(--colors-grey-white, #fff);
	background: var(--colors-grey-grey-400, #888);
	transition: filter 0.3s ease;
	filter: brightness(100%);
}

.Profile > .Header > .Avatar > .Frame:hover {
	cursor: pointer;
}

.Profile > .Header > .Avatar:hover > .FrameHover {
	filter: brightness(50%);
	cursor: pointer;
}

.HoverSVG {
	position: absolute;
	transform: translate(40%, 40%);
	opacity: 0;
	transition: opacity 0.3s ease;
}

.Profile > .Header > .Avatar:hover .HoverSVG {
	opacity: 1;
	cursor: pointer;
}

.Profile > .Header > .Text {
	display: flex;
	min-width: 240px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;
	flex: 1 0 0;
}

.Profile > .Header > .Text > .NameFrame {
	display: flex;
	align-self: stretch;
	gap: 10px;
}

.Profile > .Header > .Text > .NameFrame > .Name {
	align-self: stretch;
	color: var(--Base-Black, #000);
	/* Heading/600 */
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px; /* 100% */
}

.Profile > .Header > .Text > .TypeBarFrame {
	display: flex;
	align-items: center;
	gap: 5px;
	align-self: stretch;
}

.Profile > .Header > .Text > .TypeBarFrame > .TypeBar {
	display: flex;
	min-width: 50px;
	padding: 5px 8px;
	align-items: center;
	gap: 5px;
	flex: 1 0 0;
	border-radius: var(--radius-radius-full, 360px);
	background: var(--Base-White, #fff);
}

.Profile > .Header > .Text > .TypeBarFrame > .TypeBar > .Placeholder {
	display: flex;
	align-items: flex-start;
	flex: 1 0 0;
}

.Profile > .Header > .Text > .TypeBarFrame > .TypeBar > .Placeholder > input {
	color: var(--text-text-primary, #000);

	/* Text/400/Regular */
	font-family: Chakra Petch;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px; /* 100% */
	letter-spacing: 0.07px;
	border: none;
}

.Profile > .Header > .Text > .Stats {
	display: flex;
	align-items: center;
	gap: 2px;
	align-self: stretch;
}

.Profile > .Header > .Text > .Stats > div {
	display: flex;
	align-items: center;
	gap: 2px;
	align-self: stretch;
}

.Profile > .Header > .Text > .Stats > div > .Rank {
	display: flex;
	align-items: center;
	gap: 2px;
	flex: 1 0 0;
}

.Profile > .Header > .Text > .Stats > div > .Rank > .Position {
	cursor: pointer;
	display: flex;
	width: 84px;
	align-items: center;
	gap: 3px;
}

.Profile > .Header > .Text > .Stats > div > .Rank > .Position > div {
	display: inline-block;
	color: var(--Base-Black, #000);

	/* Heading/500 */
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px; /* 100% */
}

.Profile > .Header > .Text > .Stats > div > .Rank > .Ratio {
	display: flex;
	align-items: center;
	gap: 2px;
}

.Profile > .Header > .Text > .Stats > div > .Rank > .Ratio > div {
	color: var(--Base-Black, #000);

	/* Text/400/Regular */
	font-family: Chakra Petch;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px; /* 100% */
	letter-spacing: 0.07px;
}

.Profile > .Header > .Text > .ProfileAchievements {
	display: flex;
	align-items: center;
	gap: 3px;
	align-self: stretch;
}

.Profile > .Header > .Text > .ProfileAchievements > div {
	color: var(--Base-Black, #000);
	cursor: pointer;

	/* Text/400/Regular */
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 100% */
	letter-spacing: 0.07px;
}

.Profile > .Header > .Text > .Buttons {
	display: flex;
	min-width: 115px;
	padding: 0px 5px;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 20px;
	flex: 1 0 0;
	flex-wrap: wrap;
}

.Profile > .Body {
	display: flex;
	align-items: flex-start;
	flex: 1 0 0;
	align-self: stretch;
	border-radius: 10px;
	background: var(--Purple-300, #bba0e9);
}

.Profile > .Body > .Historic {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1 0 0;
	align-self: stretch;
}

.Profile > .Body > .Historic > .List {
	display: flex;
	padding: 5px;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
	flex: 1 0 0;
	align-self: stretch;
}

.Profile > .Body > .Historic > .List > .Count {
	display: flex;
	padding: 0px 2px;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	row-gap: 5px;
	align-self: stretch;
	flex-wrap: wrap;
	color: var(--text-text-primary, #000);
	font-family: Chakra Petch;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.Profile > .Body > .Historic > .List > .Loadmore {
	display: flex;
	padding: 5px 0px;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	align-self: stretch;
}

.Match {
	display: flex;
	min-width: 260px;
	padding: 10px;
	align-items: center;
	gap: 10px;
	align-self: stretch;
	border-radius: var(--radius-radius-rounded, 8px);
	border: 1px solid var(--Base-Black, #000);
	background: var(--Purple-100, #f5f1fc);
}

.Match > .WinPlayer {
	border-radius: var(--radius-radius-rounded, 8px);
	border: 1px solid var(--Base-Black, #000);
	background: var(
		--Turquoise-Gradient-200,
		linear-gradient(180deg, #9be9e0 66.15%, #61cec5 86.98%)
	);
}

.Match > .LoosePlayer {
	border-radius: var(--radius-radius-rounded, 8px);
	border: 1px solid var(--Base-Black, #000);
	background: var(
		--Pink-Gradient-200,
		linear-gradient(180deg, #ffcbe7 75.69%, #faaad7 91.84%)
	);
}

.Match > .WinPlayer:hover {
	border-radius: var(--radius-radius-rounded, 8px);
	border: 1px solid var(--Base-Black, #000);
	background: #9be9e0;
}

.Match > .LoosePlayer:hover {
	border-radius: var(--radius-radius-rounded, 8px);
	border: 1px solid var(--Base-Black, #000);
	background: #ffcbe7;
}

.Match > .Player {
	display: flex;
	min-width: 80px;
	min-height: 93px;
	align-items: center;
	flex: 1 0 0;
}

.Match > .Player > div {
	display: flex;
	min-width: 68px;
	min-height: 83px;
	padding: 5px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: space-between;
	flex: 1 0 0;
	border-radius: var(--radius-radius-rounded, 8px);
	border-top: 2px solid var(--Base-White, #fff);
	border-right: 1px solid var(--Base-White, #fff);
	border-left: 1px solid var(--Base-White, #fff);
}

.Match > .Player > div > .Outline {
	display: flex;
	padding: 5px;
	justify-content: center;
	align-items: center;
}

.Match > .Player > div > .Outline > .Avatar {
	display: flex;
	padding: 5px;
	flex-direction: column;
	align-items: flex-start;
}

.Match > .Player > div > .Outline > .Avatar > .Picture {
	width: 48px;
	height: 48px;
	border-radius: var(--radius-radius-rounded, 8px);
	border: 5px solid var(--colors-grey-white, #fff);
	background: var(--colors-grey-grey-400, #888);
}

.Match > .Player > div > .Username {
	display: flex;
	padding: 0px 1px;
	justify-content: center;
	align-items: center;
	gap: 5px;
	align-self: stretch;
}

.Match > .Score {
	display: flex;
	min-width: 60px;
	justify-content: center;
	align-items: center;
}

.Match > .Score > div {
	flex: 1 0 0;
	color: var(--Base-White, #fff);
	text-align: center;

	/* Heading/600 */
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px; /* 100% */
	-webkit-text-stroke: 1px #000;
}

.Profile > .Footer {
	display: flex;
	justify-content: space-between;
	padding: 5px 20px 5px 10px;
	align-items: center;
	align-content: center;
	gap: 15px;
	align-self: stretch;
	flex-wrap: wrap;
}

.CrownLeft {
	display: flex;
	align-items: flex-start;
	gap: 10px;
	position: absolute;
	left: -3px;
	top: -6px;
}

.CrownLeft > div {
	width: 24px;
	height: 20px;
	transform: rotate(-25deg);
	background:
		url("../../../public/crown.png"),
		lightgray -5.034px -8.481px / 133.333% 160% no-repeat;
}

.AchievementLink {
	padding-right: 4px;
}

.AchievementLink:hover {
	text-decoration: underline;
}

.Position:hover {
	text-decoration: underline;
}