.match-recap {
	display: flex;
	align-items: center;
	align-self: stretch;
	justify-content: center;
	flex-wrap: wrap;
	min-width: 260px;
	padding: 10px;
	gap: 10px;
	border-radius: var(--radius-radius-rounded, 8px);
}

.bg-match-default {
	border: 1px solid var(--Base-Black, #000);
	background: var(--Purple-100, #f5f1fc);
}

.bg-match-pink {
	border-top: 3px solid var(--colors-red-red-100, #f06e8d);
	border-right: 2px solid var(--colors-red-red-100, #f06e8d);
	border-bottom: 1px solid var(--colors-red-red-100, #f06e8d);
	border-left: 2px solid var(--colors-red-red-100, #f06e8d);
	background: var(--colors-pink-pink-300, #f3acd4);
}

.bg-match-green {
	border-top: 3px solid var(--colors-turquoise-turquoise-400, #0ba);
	border-right: 2px solid var(--colors-turquoise-turquoise-400, #0ba);
	border-bottom: 1px solid var(--colors-turquoise-turquoise-400, #0ba);
	border-left: 2px solid var(--colors-turquoise-turquoise-400, #0ba);
	background: #6ce1d4;
}

.match-recap > .winner-bg {
	background: var(
		--Turquoise-Gradient-200,
		linear-gradient(180deg, #9be9e0 66.15%, #61cec5 86.98%)
	);
}
.match-recap > .winner-bg:hover {
	border-color: #9be9e0;
	background: #9be9e0;
}

.match-recap > .loser-bg {
	background: var(
		--Pink-Gradient-200,
		linear-gradient(180deg, #ffcbe7 75.69%, #faaad7 91.84%)
	);
}
.match-recap > .loser-bg:hover {
	border-color: #ffcbe7;
	background: #ffcbe7;
}

.match-recap > .player {
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 0 0;
	gap: 10px;
	outline: 1px solid var(--Base-Black, #000);
	border-radius: var(--radius-radius-rounded, 8px);
	border-top: 2px solid var(--Base-White, #fff);
	border-right: 1px solid var(--Base-White, #fff);
	border-left: 1px solid var(--Base-White, #fff);
}
.match-recap > .player.player-left {
	flex-wrap: wrap;
}
.match-recap > .player.player-right {
	flex-wrap: wrap-reverse;
}

.avatar-match {
	border: 4px solid var(--base-white, #fff);
	border-radius: 8px;
	height: 64px;
	width: 64px;
}

.match-recap > .player > .username {
	display: flex;
	padding: 0px 1px;
	min-width: 200px;
	justify-content: center;
	align-items: center;
	gap: 5px;
	align-self: stretch;
}

.match-recap > .score {
	display: flex;
	min-width: 60px;
	justify-content: center;
	align-items: center;
}

.match-recap > .score > div {
	flex: 1 0 0;
	color: var(--Base-White, #fff);
	text-align: center;
	/* Heading/600 */
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px; /* 100% */
	-webkit-text-stroke: 1px #000;
}
