body {
  background-image: url("../../images/pond-sky.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#centered-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* Style */
  border-radius: 2.6vw;
  border: 0.5vw solid var(--Base-Black, #000);
}

#centered-container > div {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 18%;
  padding-right: 18%;
  /* Style */
  border-radius: 2vw;
  border-top: 0.5vw solid var(--Base-White, #fff);
  border-right: 0.3vw solid var(--Base-White, #fff);
  border-bottom: 0.1vw solid var(--Base-White, #fff);
  border-left: 0.3vw solid var(--Base-White, #fff);
  background: var(
    --Purple-Gradient-500,
    linear-gradient(180deg, #49317b 66.15%, #2e185c 86.98%)
  );
}

#signin-button {
  cursor:pointer;
  /* Style */
  border-radius: 1.3vw;
  border: 0.3vw solid var(--Base-Black, #000);
}

#signin-button > div {
  padding: 7%;
  /* Style */
  border-radius: 1vw;
  border-top: 0.3vw solid var(--Base-White, #fff);
  border-right: 0.1vw solid var(--Base-White, #fff);
  border-left: 0.1vw solid var(--Base-White, #fff);
  background: var(
    --PinkPurpleMix-Gradient-Main,
    linear-gradient(180deg, #ece5f8 66.15%, #ebb9f8 86.98%)
  );
}

#signin-button > div:hover{
  /* Style */
  border-top: 0.3vw solid var(--pink-purple-mix-main, #EDE6F9);
  border-right: 0.1vw solid var(--pink-purple-mix-main, #EDE6F9);
  border-left: 0.1vw solid var(--pink-purple-mix-main, #EDE6F9);
  background: var(--pink-purple-mix-main, #EDE6F9);
}

#signin-button > div > div {
  display: flex;
  align-items: center;
}

#signin-button > div > div > div {
  width: 40vw;
  text-align: center;
  color: var(--Base-Black, #000);
  /* Heading/800 */
  font-family: Chakra Petch;
  font-size: 1.8vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
