.UserComponent {
	display: flex;
	align-items: center;
	gap: 5px;
	align-self: stretch;
}

.UserComponent > .Avatar {
	display: flex;
	padding: 1px;
	flex-direction: column;
	align-items: flex-start;
}

.UserComponent > .Avatar > .Frame {
	width: 48px;
	height: 48px;
	border-radius: var(--radius-radius-rounded, 8px);
	border: 5px solid var(--colors-grey-white, #fff);
	background: var(--colors-grey-grey-400, #888);
}

.UserComponent > .User {
	display: flex;
	padding: 5px;
	align-items: center;
	align-content: center;
	gap: 10px;
	flex: 1 0 0;
	flex-wrap: wrap;
	border-radius: 4px;
	outline: 1px solid var(--Base-Black, #000);
	border-top: 2px solid var(--Base-White, #fff);
	border-right: 1px solid var(--Base-White, #fff);
	border-left: 1px solid var(--Base-White, #fff);
}

.UserComponent > .User > .Player {
	display: flex;
	min-width: 100px;
	padding: 5px;
	flex-direction: column;
	align-items: flex-start;
	flex: 1 0 0;
}

.UserComponent > .User > .Player > .Name {
	display: flex;
	padding: 0px 1px;
	align-items: center;
	gap: 5px;
	align-self: stretch;
}

.UserComponent > .User > .Player > .Name > .Icon {
	display: flex;
	align-items: flex-start;
}

.UserComponent > .User > .Player > .Name > .Icon > svg {
	width: 18px;
	height: 18px;
}

.UserComponent > .User > .Player > .Name > .Text {
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	flex: 1 0 0;
	overflow: hidden;
	color: var(--Base-Black, #000);
	text-overflow: ellipsis;

	/* Heading/500 */
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
}

.UserComponent > .User > .Player > .Status {
	display: flex;
	align-items: center;
	gap: 5px;
}

.UserComponent > .User > .Player > .Status > .Icon {
	width: 5px;
	height: 5px;
}

.UserComponent > .User > .Player > .Status > .Online {
	fill: #44e929;
	stroke-width: 1px;
	stroke: var(--Base-Black, #000);
}

.UserComponent > .User > .Player > .Status > .Offline {
	fill: #fe0000;
	stroke-width: 1px;
	stroke: var(--Base-Black, #000);
}

.UserComponent > .User > .Player > .Status > .Text {
	color: var(--Base-Black, #000);

	/* Text/300/Regular */
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 12px; /* 100% */
	letter-spacing: 0.12px;
}

.UserComponent > .User > .Buttons {
	display: flex;
	min-width: 70px;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	gap: 10px;
	flex: 1 0 0;
	flex-wrap: wrap;
}

.UserComponent > .User > .Buttons > .Match {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--radius-button, 4px);
	border: 1px solid var(--border-border-outside, #000);
	background: var(
		--Turquoise-Gradient-Match,
		linear-gradient(120deg, #09e1c7 46.53%, #3071d2 79.49%)
	);

	/* Elevation / 1dp */
	box-shadow:
		0px 1px 4px 0px rgba(12, 14, 25, 0.08),
		0px 0px 1px 0px rgba(12, 14, 25, 0.24);
}

.UserComponent > .User > .Buttons > .Other {
	display: flex;
	align-items: center;
	gap: var(--radius-radius-minimal, 4px);
}
