.AboutChan {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  gap: 10px;
}

.chanDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

.headerAboutChan {
  display: flex;
}

.joinBtn {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.footerAboutChanBtn {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.btnCardAboutChan {
  display: flex;
  gap: 10px;
}

.btnIconAboutChan {
  display: flex;
  gap: 4px;
}