#Background {
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	background-size: cover;
	background-position: center center;
    display: flex;
    justify-content: center;
	align-items: center;
    align-self: stretch;
    background-image: url("/images/background4.png");
	cursor: default;
}
