.Button {
	border-radius: 4px;
	border: 1px solid var(--base-black, #000);
	box-shadow:
		0px 1px 4px 0px rgba(12, 14, 25, 0.08),
		0px 0px 1px 0px rgba(12, 14, 25, 0.24);
	align-self: center;
	padding: 0;
}

.ButtonInner {
	border-radius: 4px;
	border-top: 1px solid var(--base-white, #fff);
	border-right: 1px solid var(--base-white, #fff);
	border-left: 1px solid var(--base-white, #fff);
	padding: 2px 2px 0 2px;
	text-transform: uppercase;
	color: var(--base-white, #fff);
	font-family: "Chakra Petch", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 14px;
	letter-spacing: 0.07px;
}

.ButtonText {
	padding: 5px;
}

.pink.Button > .ButtonInner:hover {
	border-top: 1px solid var(--pink-300, #f3acd4);
	border-right: 1px solid var(--pink-300, #f3acd4);
	border-left: 1px solid var(--pink-300, #f3acd4);
}

.pink.Button {
	background: var(
		--pink-gradient-300,
		linear-gradient(180deg, #f3acd4 69.79%, #f37ec1 90.62%)
	);
}

.pink.Button:hover {
	background: var(--pink-300, #f3acd4);
}

.purple.Button > .ButtonInner:hover {
	border-top: 1px solid var(--purple-400, #6c559c);
	border-right: 1px solid var(--purple-400, #6c559c);
	border-left: 1px solid var(--purple-400, #6c559c);
}

.purple.Button {
	background: var(
		--purple-gradient-400,
		linear-gradient(180deg, #6d559c 66.15%, #4c3778 86.98%)
	);
}

.purple.Button:hover {
	background: var(--purple-400, #6c559c);
}

.red.Button > .ButtonInner:hover {
	border-top: 1px solid var(--Pink-400, #f06e8d);
	border-right: 1px solid var(--Pink-400, #f06e8d);
	border-left: 1px solid var(--Pink-400, #f06e8d);
}

.red.Button {
	background: var(
		--Pink-Gradient-400,
		linear-gradient(180deg, #f06e8d 75%, #e9436b 92.19%)
	);
}

.red.Button:hover {
	background: var(--Pink-400, #f06e8d);
}

.blue.Button {
	background: var(
		--Turquoise-Gradient-Match,
		linear-gradient(120deg, #09e1c7 46.53%, #3071d2 79.49%)
	);
}

.blue.Button:hover {
	background: linear-gradient(120deg, #3071d2 46.53%, #09e1c7 79.49%);
}

.blue.button > .ButtonInner:hover {
	border-top: 1px solid
		linear-gradient(120deg, #3071d2 46.53%, #09e1c7 79.49%);
	border-right: 1px solid
		linear-gradient(120deg, #3071d2 46.53%, #09e1c7 79.49%);
	border-left: 1px solid
		linear-gradient(120deg, #3071d2 46.53%, #09e1c7 79.49%);
}

.lightYellow {
	background: var(
		--Yellow-Gradient-150,
		linear-gradient(180deg, #faf7a4 65.1%, #e0dd79 82.81%)
	);
}

.lightYellow:hover {
	background: var(--Yellow-100, #faf7a4);
}

.lightYellow > .ButtonInner:hover {
	border-top: 1px solid var(--Yellow-100, #faf7a4);
	border-right: 1px solid var(--Yellow-100, #faf7a4);
	border-left: 1px solid var(--Yellow-100, #faf7a4);
}

.darkYellow {
	background: var(
		--Yellow-Gradient-350,
		linear-gradient(180deg, #d3c43d 65.1%, #b2a73f 82.81%)
	);
}

.darkYellow:hover {
	background: var(--Yellow-300, #d3c43d);
}

.darkYellow > .ButtonInner:hover {
	border-top: 1px solid var(--Yellow-300, #d3c43d);
	border-right: 1px solid var(--Yellow-300, #d3c43d);
	border-left: 1px solid var(--Yellow-300, #d3c43d);
}

.pink,
.purple,
.red,
.blue .lightYellow,
.darkYellow {
	display: flex;
}

.Button:hover {
	cursor: pointer;
}
