.bg-container {
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	/* Setting up children component */
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .bg-image {
    background-image: url("/images/first-page.png");
  }
  .purple-container {
	padding: 4rem 6rem;
	/* Style */
	background: var(
	  --Purple-Gradient-500,
	  linear-gradient(180deg, #49317b 66.15%, #2e185c 86.98%)
	);
	border-radius: 1rem;
	border: solid var(--base-white, #fff);
	border-width: 0.3rem 0.2rem 0.05rem;
	outline: 0.3rem solid var(--base-black, #000);
	/* Setting up children component */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1em;
  }