.Window {
	padding: 3px;
	flex-direction: column;
	flex-shrink: 0;
	border-radius: 15px;
	border: 3px solid var(--base-black, #000);
	background: var(--base-white, #fff);
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
}

.reducedWindow {
	padding: 3px;
	flex-direction: column;
	flex-shrink: 0;
	border-radius: 15px;
	width: 100%;
	height: 100%;
	position: fixed;
}

.reducedWindow > .content {
	display: none;
}
.handleBar {
	display: flex;
	min-width: 250px;
	padding: 4px 10px 5px 10px;
	align-items: center;
	gap: 5px;
	align-self: stretch;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 3px solid var(--base-black, #000);
	cursor: grab;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	text-transform: uppercase;
}

.handleBar.purpleHandleBar {
	background: linear-gradient(180deg, #e980bb 0%, #bba0e9 9.9%);
}

.handleBar.lilacHandleBar {
	background: linear-gradient(180deg, #ffaee6 0.63%, #decdff 10.94%);
}

.handleBar.redHandleBar {
	background: #f06e8d;
}

.reducedWindow > .handleBar {
	width: 100px;
}

.Window > .handleBar :active {
	cursor: grabbing;
}

.WindowName {
	display: flex;
	align-items: center;
	flex: 1 0 0;
}

.Window > .content {
	display: flex;
	gap: 3px;
	border-radius: 0px 0px 13px 13px;
	background: var(--purple-100, #f5f1fc);
	/* 	padding-bottom: 30px;
    padding-left: ;
    padding-right: ;
    padding-top: ; */
	padding: 8px;
	height: calc(100%); /* @TODO change it*/
	overflow-x: auto;
}
