.loadingSpinner {
	animation: spin 1s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.FriendsList {
	display: flex;
	min-height: 100px;
	padding: 5px;
	flex-direction: column;
	align-items: flex-start;
	gap: 3px;
	flex: 1 0 0;
	align-self: stretch;
	border-radius: 0px 0px 13px 13px;
	background: var(--Purple-100, #f5f1fc);
}

.FriendsList > .Header {
	display: flex;
	padding: 5px;
	flex-direction: column;
	gap: 12px;
	align-self: stretch;
}

.FriendsList > .Header > .SearchBar {
	display: flex;
	align-items: center;
	gap: 5px;
	align-self: stretch;
}

.FriendsList > .Header > .SearchBar > .TypeBar {
	display: flex;
	min-width: 50px;
	padding: 5px 8px;
	align-items: center;
	gap: 5px;
	flex: 1 0 0;
	border-radius: var(--radius-radius-full, 360px);
	background: var(--Base-White, #fff);
}

.FriendsList > .Body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1 0 0;
	align-self: stretch;
	border-radius: 10px;
	/*     border-top: 3px solid var(--border-border-outside, #000);
    border-right: 2px solid var(--border-border-outside, #000);
    border-bottom: 1px solid var(--border-border-outside, #000);
    border-left: 2px solid var(--border-border-outside, #000); */
	background: var(--Purple-300, #bba0e9);
}

.FriendsList > .Body > .List {
	display: flex;
	padding: 5px;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
	flex: 1 0 0;
	align-self: stretch;
}

.FriendsListUser {
	display: flex;
	align-items: center;
	gap: 5px;
	align-self: stretch;
}

.FriendsListUser > .Avatar {
	display: flex;
	padding: 5px;
	flex-direction: column;
	align-items: flex-start;
}

.FriendsListUser > .Avatar > .Frame {
	width: 48px;
	height: 48px;
	border-radius: var(--radius-radius-rounded, 8px);
	border: 5px solid var(--colors-grey-white, #fff);
	background: var(--colors-grey-grey-400, #888);
}

.FriendsListUser > .User {
	display: flex;
	min-width: 101px;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex: 1 0 0;
	flex-wrap: wrap;
	border-radius: var(--radius-radius-minimal, 4px);
	border: 1px solid var(--Base-Black, #000);
	background: var(
		--Purple-Gradient-200,
		linear-gradient(180deg, #ece5f8 66.15%, #d0b9f8 86.98%)
	);
}

.FriendsListUser > .User > .Frame {
	display: flex;
	padding: 5px;
	align-items: center;
	align-content: center;
	gap: 10px;
	flex: 1 0 0;
	flex-wrap: wrap;
	border-radius: 5px;
}

.FriendsListUser > .User > .Frame > .Player {
	display: flex;
	min-width: 100px;
	padding: 5px;
	flex-direction: column;
	align-items: flex-start;
	flex: 1 0 0;
}

.FriendsListUser > .User > .Frame > .Player > .Name {
	display: flex;
	padding: 0px 1px;
	align-items: center;
	gap: 5px;
	align-self: stretch;
}

.FriendsListUser > .User > .Frame > .Player > .Name > div {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	flex: 1 0 0;
	overflow: hidden;
	color: var(--Base-Black, #000);
	text-overflow: ellipsis;

	/* Heading/500 */
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px; /* 100% */
}

.FriendsListUser > .User > .Frame > .Player > .Status {
	display: flex;
	align-items: center;
	gap: 5px;
}

.FriendsListUser > .User > .Frame > .Player > .Status > .Icon {
	width: 5px;
	height: 5px;
}

.FriendsListUser > .User > .Frame > .Player > .Status > .Online {
	fill: #44e929;
	stroke-width: 1px;
	stroke: var(--Base-Black, #000);
}

.FriendsListUser > .User > .Frame > .Player > .Status > .Offline {
	fill: #e9436b;
	stroke-width: 1px;
	stroke: var(--Base-Black, #000);
}

.FriendsListUser > .User > .Frame > .Player > .Status > .Text {
	color: var(--Base-Black, #000);

	/* Text/300/Regular */
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 12px; /* 100% */
	letter-spacing: 0.12px;
}

.FriendsListUser > .User > .Frame > .Buttons {
	display: flex;
	min-width: 70px;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	gap: 10px;
	flex: 1 0 0;
	flex-wrap: wrap;
}

.FriendsListUser > .User > .Frame > .Buttons > .Match {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--radius-button, 4px);
	border: 1px solid var(--border-border-outside, #000);
	background: var(
		--Turquoise-Gradient-Match,
		linear-gradient(120deg, #09e1c7 46.53%, #3071d2 79.49%)
	);

	/* Elevation / 1dp */
	box-shadow:
		0px 1px 4px 0px rgba(12, 14, 25, 0.08),
		0px 0px 1px 0px rgba(12, 14, 25, 0.24);
}

.FriendsListUser > .User > .Frame > .Buttons > .Other {
	display: flex;
	align-items: center;
	gap: var(--radius-radius-minimal, 4px);
}

.FriendsList > .Footer {
	display: flex;
	padding: 5px 10px;
	align-items: center;
	align-content: center;
	gap: 10px;
	align-self: stretch;
	flex-wrap: wrap;
}

.FriendsList > .Footer > .Frame {
	height: 15px;
	flex: 1 0 0;
}
