.body-game-end {
  width: 100%;
  display: flex;
  padding: 10px 0px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.title-stroke {
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;

  font-family: "Chakra Petch";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 4px;
}

.label-victory {
  background: var(
    --Turquoise-Gradient-300,
    linear-gradient(180deg, #2bdec9 66.15%, #0ba 86.98%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.label-defeat {
  background: var(
    --Pink-Gradient-300,
    linear-gradient(180deg, #f3acd4 69.79%, #f37ec1 90.62%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
