.List {
  overflow-y: auto;
  padding: 8px 0 8px 6px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.List.dark-list {
  border-radius: 10px;
  border-top: 3px solid var(--base-black, #000);
  border-right: 2px solid var(--base-black, #000);
  border-bottom: 1px solid var(--base-black, #000);
  border-left: 2px solid var(--base-black, #000);
  background: var(--purple-300, #BBA0E9);

}

.custom-scrollbar {
  padding-right: 10px;
  --bg-scroll-color: var(--purple-100, #F5F1FC);
  --scroll-color: rgba(187, 161, 242, 0.5); 
  --scroll-color-hover: rgba(187, 161, 242, 0.65); 
}
.custom-scrollbar.list-dark {
  --bg-scroll-color: var(--purple-300, #BBA0E9);
  --scroll-color: rgba(56, 34, 101, 0.5); 
  --scroll-color-hover: rgba(56, 34, 101, 0.65); 
}

.custom-scrollbar::-webkit-scrollbar {
  width: 20px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  opacity: 0.2;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
  border-radius: 10px;
  border: 5px solid var(--bg-scroll-color);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-color-hover);
  border-radius: 10px;
}